<?xml version="1.0" encoding="UTF-8"?>
<configuration status="info">

    <Properties>
        <Property name="LOG_PATTERN">%d %c [%t] %p %m%n</Property>
        <Property name="SIZE">15 KB</Property>
        <Property name="MAX_ROLLOVER">5</Property>
    </Properties>

    <appenders>

        <RollingFile name="Warns+" fileName="logs/warnsAndErrors.log" append="true"
                     filePattern="logs/warnsAndErrors%i.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="${SIZE}"/>
            </Policies>
            <DefaultRolloverStrategy max="${MAX_ROLLOVER}"/>
        </RollingFile>

        <Console name="Info" target="SYSTEM_OUT" follow="true">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%m%n"/>
        </Console>

    </appenders>

    <loggers>
        <root level="info">
            <appender-ref ref="Warns+"/>
            <appender-ref ref="Info"/>
        </root>
    </loggers>

</configuration>
